@model TrainMaster.Domain.Entity.TeamEntity
@{
    ViewData["Title"] = "Editar Time";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="project-description">
    <h2 style="color: #20b2aa; margin-bottom: 20px;">Editar Time</h2>

    @if (ViewBag.Sucesso != null)
    {
        <div style="color:green; margin-bottom:10px">@ViewBag.Sucesso</div>
    }

    @if (ViewBag.ErrorMessage != null)
    {
        <div style="color:red; margin-bottom:10px">@ViewBag.ErrorMessage</div>
    }

    <div class="form-container">
        <form asp-action="Edit" asp-route-id="@Model.Id" method="post" class="form-box">
            <input type="hidden" asp-for="Id" />

            <div class="form-group">
                <label asp-for="Name">Nome</label>
                <input name="Name" value="@Model.Name" class="input-field" />
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label asp-for="Description">Descrição</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", rows = "3", style = "width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>

            <div class="button-group">
                <button type="submit" class="btn btn-save">Salvar</button>
                <a href="/Times/Index" class="btn btn-cancel">Cancelar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
