@model TrainMaster.Domain.Entity.PessoalProfileEntity
@{
    ViewData["Title"] = "Editar Perfil Pessoal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="project-description">
    <h2 style="color: #20b2aa; margin-bottom: 20px;">Editar Perfil Pessoal</h2>

    @if (ViewBag.Sucesso != null)
    {
        <div class="alert alert-success" style="color: green; font-weight: bold;">
            @ViewBag.Sucesso
        </div>
    }

    <div style="background-color: white; padding: 30px; border-radius: 10px; box-shadow: 0 0 10px rgba(0,0,0,0.1); max-width: 600px; margin: 0 auto;">
        <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
            @* <input type="hidden" asp-for="Id" />
            <input type="hidden" name="UserId" value="@ViewBag.UserId" /> *@

            <div class="form-group" style="margin-bottom: 15px;">
                <label>Nome</label>
                <input name="FullName" value="@Model.FullName" class="form-control" style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>

            <div class="form-group" style="margin-bottom: 15px;">
                <label>Data de Nascimento</label>
                <input name="DateOfBirth" value="@Model.DateOfBirth.ToString("yyyy-MM-dd")" type="date" class="form-control" style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
                <label>Estado Civil</label>
                <select name="Marital" class="form-control" asp-items="ViewBag.MaritalOptions" style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                    <option value="">Selecione</option>
                    <option value="1" @(Model.EMaritalStatus == TrainMaster.Domain.Enums.EMaritalStatus.Single ? "selected" : "")>Solteiro</option>
                    <option value="2" @(Model.EMaritalStatus == TrainMaster.Domain.Enums.EMaritalStatus.Married ? "selected" : "")>Casado</option>
                    <option value="3" @(Model.EMaritalStatus == TrainMaster.Domain.Enums.EMaritalStatus.Separate ? "selected" : "")>Separado</option>
                </select>
                <span asp-validation-for="Marital" class="text-danger"></span>
            </div>
            <div class="form-group" style="margin-bottom: 15px;">
                <label>Gênero</label>
                <select name="Gender" class="form-control" asp-items="ViewBag.GenderStatus" style="width: 100%; padding: 10px; border-radius: 5px; border: 1px solid #ccc;">
                    <option value="">Selecione</option>
                    <option value="1" @(Model.EGenderStatus == TrainMaster.Domain.Enums.EGenderStatus.Male ? "selected" : "")>Homem</option>
                    <option value="2" @(Model.EGenderStatus == TrainMaster.Domain.Enums.EGenderStatus.Woman ? "selected" : "")>Mulher</option>
                </select>
                <span asp-validation-for="Marital" class="text-danger"></span>
            </div>
            <div class="button-group">
                <button type="submit" class="btn" style="background-color: #20b2aa; color: white; padding: 10px 20px; border-radius: 20px; font-weight: bold;">Salvar</button>

                <a href="/Home/Index"
                   class="btn"
                   style="background-color: #ccc; color: #333; padding: 10px 20px; border-radius: 20px; font-weight: bold; text-decoration: none;">
                    Cancelar
                </a>

                <input type="hidden" name="UserId" value="@ViewBag.UserId" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}